* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .navBar li {
    float: left;
  }
  
  .navBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navBar li a:hover {
    background-color: #111;
  }
  
  .activeLink {
      background-color: #111;
  }

  .studyMenu {
    position: absolute;
    width: 90%;
    left: 5%;
    height: 75%;
    border: 3px solid black;
    border-radius: 5px;
  }
  
  .studyContainer {
    position: absolute;
    height: 100%;
    top: 0;
    width: 70%;
    left: 15%;
    overflow: hidden;
  }
  
  .studyCard {
    position: absolute;
    height: 70%;
    width: 80%;
    left: 0;
    top: 15%;
    transition: transform 1s ease;
  }

  .cardFront, .cardBack {
    position: absolute;
    box-sizing: border-box;
    border-radius: 0.25rem;
    height: 100%;
    border: 3px solid black;
    width: 100%;
    transition: transform 1s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
  }
  
  .cardBack {
    transform: perspective(1000px) rotateY(180deg);
  }
  
  .cardBack.flipped {
    transform: perspective(1000px) rotateY(0deg);
  }
  
  .cardFront {
    transform: perspective(1000px) rotateY(0deg);
  }
  
  .cardFront.flipped {
    transform: perspective(1000px) rotateY(-180deg);
  }

  .nextCardBtn, .endStudy {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%);
  }

  .multipleChoiceCard {
    position: absolute;
    box-sizing: border-box;
    border-radius: 0.25rem;
    height: 70%;
    border: 3px solid black;
    width: 80%;
    left: 10%;
    top: 15%;
    transition: transform 1s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }


  .fillInTheBlankCard {
    position: absolute;
    box-sizing: border-box;
    border-radius: 0.25rem;
    height: 70%;
    border: 3px solid black;
    width: 80%;
    left: 10%;
    top: 15%;
    transition: transform 1s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .fillInTheBlankCard h2 {
    text-align: center;
  }

  .FITBResult {
    position: relative;
    top: 5%;
  }

  .fillInTheBlankInput {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 50%;
    padding: 2px;
    resize: none;
  }

  .fillInTheBlankSubmitBtn {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
  }

  .optionsContainer {
    position: relative;
    width: 75%;
    top: 20%;
    left: 12.5%;
    text-align: left;

  }

  .submitMCQBtn {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);
  }

  .setsContainer {
    position: relative;
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    left: 3px;
    top: 3px;
  }

  .set {
    position: relative;
    width: 15rem;
    height: 7.5rem;
    border: 2px solid black;
    text-align: center;
  }
  
  .set:hover {
    cursor: pointer;
  }
  .set h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .MCQResult {
    position: relative;   
    width: 100%;
    text-align: center; 
    top: 50%;
  }



  .endCard {
    position: relative;
    box-sizing: border-box;
    border-radius: 0.25rem;
    height: 70%;
    width: 80%;
    left: 10%;
    top: 15%;
    transition: transform 1s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    overflow: hidden;
  }

  .sessionTime {
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
  }

  .overallPercentage {
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
  }

  .missedCards {
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
  }


  .missedCardsList {
    position: absolute;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
  }

  .missedCardElement {
    position: relative;
    border: 2px solid black;
    max-width: 25%;
    display: flex;
    overflow-wrap: break-word;
  }



  .hide {
    display: none;
  }